<div class="card {{ data.category|lower  }}">
  <img alt="" class="card-img-top" src="{{ data.img_src }}"/>
  <div class="card-body">
    <div class="date d-flex align-items-center gap-2">
      <img width="15px" alt="" src="/{{ directory }}/image/icons/date.svg"/>
      {{ data.date }}
    </div>
    <h5 class="card-title mt-3 fw-bold">{{ data.title }}</h5>
    <p class="card-text">{{ data.description }}</p>
    <a href="{{ data.link_url }}" class="text-decoration-none text-dark"><strong>{{ 'Read more'|t }}</strong></a>

    <div class="card-meta d-flex justify-content-between align-items-center mt-4 gap-3">
      <span>
        <a href="{{ data.link_user }}">{{ data.author }}</a>
      </span>
      <a class="card-category" href="?category={{ data.category }}">{{ data.category }}</a>
    </div>
  </div>
</div>
