{% set item = {
  "title": node.title.value,
  "description": node._entity.body.summary,
  "content": node.body.value,
  "img_src": node.field_image.entity.uri.url,
  "date": node.changed.value|date("d M Y"),
  "tags": node.field_tags.value,
  "category": node.field_category.entity.name.value,
  "author": node.uid.entity.name.value,
  "link_user": "/user-info/" ~ node.uid.0.target_id
} %}

<div class="go-back">

  <div class="container">
    <a href="/" class="d-flex gap-2 align-items-center py-1">
      <img alt="" width="15px" src="/{{ directory }}/image/icons/arrow-left.svg"/>
      {{ 'Back'|t }}
    </a>
  </div>

</div>

<div class="container py-5">
  <div class="d-flex justify-content-between">

    <div class="date d-flex align-items-center gap-2">
      <img width="20px" alt="" src="/{{ directory }}/image/icons/date.svg"/>
      {{ item.date }}
    </div>

    <div class="d-none d-md-block category {{ item.category|lower }}">
      <a href="/?category={{ item.category }}">{{ item.category }}</a>
    </div>

  </div>


  <h1 class="mt-5 mb-4 fw-bold">{{ item.title }}</h1>

  <div class="d-flex justify-content-between align-items-center">
    <span>
      <a class="author" href="{{ item.link_user }}">
        {{ item.author }}
      </a>
    </span>
    <div class="d-block d-md-none category {{ item.category|lower }}">
      <a href="/?category={{ item.category }}">{{ item.category }}</a>
    </div>
  </div>


  <div class="py-3">
    <img alt="{{ item.title }}" class="avatar mw-100 {{ item.category|lower }}" src="{{ item.img_src }}"/>
  </div>

  {{ item.content|raw }}


  {% if node.field_tags %}
    {% for item in node.field_tags %}
      {% set term = item.entity %}
      <a class="px-1" href="/?tag={{ term.name.value }}">
        {{ term.name.value }}
      </a>
    {% endfor %}
  {% endif %}


  <div class="d-flex justify-content-between align-items-center mt-5">

    <div class="share">
      <a href="#" data-bs-toggle="modal" data-bs-target="#modal">{{ 'Share this article'|t }}</a>
    </div>


    <div class="count-share d-flex gap-2 align-items-center">
      <img alt="" width="20px" src="/{{ directory }}/image/icons/share.svg"/>
      222 {{ 'Shares'|t }}
    </div>

  </div>

</div>


<div class="modal fade modal-social-node" tabindex="-1" id="modal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <div data-bs-dismiss="modal" class="">
          <img src="/{{ directory }}/image/icons/close-white.svg">
        </div>
      </div>
      <div class="modal-body text-center d-flex flex-column justify-content-between">
        <div>
          <h2>{{ item.title }}</h2>
          <p>{{ item.description }}</p>
        </div>


        <div class="list-social-node d-flex gap-1 gap-md-2 justify-content-center">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>')['#markup'] }}" class="item facebook">
            <img alt="" height="15px" src="/themes/digital/image/icons/facebook-blue.svg">
          </a>
          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ url('<current>')['#markup'] }}" class="item instagram">
            <img alt="" height="15px" src="/themes/digital/image/icons/instagram-blue.svg">
          </a>
          <a href="https://twitter.com/intent/post?url={{ url('<current>')['#markup'] }}" class="item twitter">
            <img alt="" height="15px" src="/themes/digital/image/icons/twitter-blue.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

