<div class="web-form-contact">
  <h1>{{ 'Contact Us' }}</h1>
  <div class="slogan">{{ 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.' }}</div>
  <form{{ attributes }}>
    {{ title_prefix }}
    {{ children }}
    {{ title_suffix }}
  </form>
</div>

