<div class="web-form-contact">
  <h1>{{ 'Contact Us' }}</h1>
  <div class="slogan">{{ "We're here to help with any questions you may have, or support you may need. Use this form to contact the Australian Digital Health Agency:" }}</div>
  <form{{ attributes }}>
    {{ title_prefix }}
    {{ children }}
    {{ title_suffix }}
  </form>
</div>
