<footer>

  <div class="container">

    <div class="footer-menu mb-5 d-block d-md-none">

      {{ page.menu_footer }}

    </div>

    <div class="footer-top d-block d-md-flex align-items-center justify-content-between">

      <div class="logo text-center">
        digitalhealth<span>news</span>
      </div>

      <div class="follow-us d-block d-md-flex align-items-center gap-2 mt-3 mt-md-0">
        <div class="text-center mb-2 mb-md-0 fw-bolder">{{ 'Follow Us'|t }}</div>
        {{ page.socials }}
      </div>

    </div>

    <div class="footer-menu my-5 py-4 d-none d-md-block">

      {{ page.menu_footer }}

    </div>

    <div class="footer-bottom d-flex justify-content-between mt-4 pt-4 pt-md-0 mt-md-0">

      <div class="left text-center">
        <strong>&copy;2024</strong>
        <strong><a class="text-decoration-none text-white" href="#">{{ 'Privacy Policy'|t }}</a></strong>
        <strong><a class="text-decoration-none text-white" href="#">{{ 'Legal disclaimer'|t }}</a></strong>
      </div>

      <div class="right text-center mb-3 mb-md-0">
        Logo
      </div>

    </div>

  </div>

</footer>
