<div class="popup-overlay">
  <div class="popup-content">
    <div class="text-end mb-3">
      <img alt="" class="close-popup" src="/{{ directory }}/image/icons/close-white.svg" />
    </div>

    <div class="d-flex flex-column justify-content-between popup-content-main">
      <div>
        <h2 class="popup-title"></h2>
        <p class="popup-description"></p>
      </div>

      <div>
        {{ page.socials }}
      </div>
    </div>

  </div>

</div>


<footer>

  <div class="container">

    <div class="footer-menu mb-5 d-block d-md-none">

      {{ page.menu_footer }}

    </div>

    <div class="footer-top d-block d-md-flex align-items-center justify-content-between">

      <div class="logo text-center d-flex justify-content-center">
        digitalhealth<span>news</span>
      </div>

      <div class="follow-us d-block d-md-flex align-items-center gap-2 mt-3 mt-md-0">
        <div class="text-center mb-2 mb-md-0 fw-bolder">{{ 'Follow Us'|t }}</div>
        <div class="d-flex">
          {{ page.socials }}
          <a class="ps-2" href="/rss.xml" target="_blank">
            <img alt="" width="28" src="/{{ directory }}/image/icons/ic-rss.svg" />
          </a>
        </div>


      </div>

    </div>

    <div class="footer-menu my-5 py-4 d-none d-md-block">

      {{ page.menu_footer }}

    </div>

    <div class="footer-bottom d-flex justify-content-between mt-4 pt-4 pt-md-0 mt-md-0 align-items-center">

      <div class="left text-center">
        {{ page.menu_footer_bottom }}
      </div>

      <div class="right text-center mb-3 mb-md-0">
        <img alt="" width="280px" src="/{{ directory }}/image/icons/logo-bottom.svg"/>
      </div>

    </div>

  </div>

</footer>
