{% include '@components/_header.twig' %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<main class="page--front">

  <div class="content pb-5">

    <div class="container">

      <div class="banner text-center pt-5">
        <h2>{{ 'Lorem ipsum dolor sit amet consectetur'|t }}</h2>
        <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore magna aliqua. Ut enim ad minim lorem ipsum veniam'|t }}</p>
      </div>

      <div class="box-search pt-4">

        <div class="row g-3 justify-content-between">

          <div class="col-auto">
            <div class="row g-3 justify-content-between">

              <div class="col-auto">
                <div class="filter">
                  <a href="/" class="all">{{ 'All'|t }}</a>
                  <a href="?category=Technology" class="technology {{ url_parameters['category'] == 'Technology' ? 'active' : '' }}">{{ 'Technology'|t }}</a>
                  <a href="?category=Business" class="business {{ url_parameters['category'] == 'Business' ? 'active' : '' }}">{{ 'Business'|t }}</a>
                  <a href="?category=Lifestyle" class="lifestyle {{ url_parameters['category'] == 'Lifestyle' ? 'active' : '' }}">{{ 'Lifestyle'|t }}</a>
                  <a href="?category=Features" class="features {{ url_parameters['category'] == 'Features' ? 'active' : '' }}">{{ 'Features'|t }}</a>
                </div>
              </div>
              <div class="col-auto d-none d-md-block">
                <form method="GET" action="/search">
                  <div class="search">
                    <img alt="" width="20px" src="/{{ directory }}/image/icons/search-blue.svg"/>
                    <input name="keyword" placeholder="Search"/>
                  </div>
                </form>
              </div>
            </div>

          </div>

          <div class="col-auto d-none d-md-block">
            {{ page.socials }}
          </div>

        </div>


      </div>

      <div class="main-content py-5">

        {{ page.home_content }}

      </div>

    </div>

  </div>

  <div class="latest pb-5">

    <div class="see-latest pt-4 pb-2 mb-3 mb-md-5">
      <div class="container">
        <h2 class="text-center m-0">{{ 'See the latest on our social media'|t }}</h2>
      </div>
    </div>

    <div class="container">

      <div class="row g-3">

        <div class="col-md-7">
          <h3 class="title text-decoration-underline d-none d-md-block">{{ 'Latest posts'|t }}</h3>

          <div class="box-content">

            {{ page.home_social_left }}

          </div>

        </div>

        <div class="col-md-5">
          <h3 class="title text-decoration-underline d-none d-md-block">{{ 'Latest tweets'|t }}</h3>

          <div class="box-content">

            {{ page.home_social_right }}

          </div>

        </div>

      </div>

    </div>

  </div>


</main>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v19.0"
        nonce="IDc7h2jc"></script>

<div class="d-block d-md-none">
  {% include '@components/_partner.twig' %}
</div>
{% include '@components/_footer.twig' %}
