{% include '@components/_header.twig' %}

<main class="page--front">

  <div class="content pb-5">

    <div class="container">

      <div class="banner text-center pt-5">
        <h2>{{ 'Lorem ipsum dolor sit amet consectetur'|t }}</h2>
        <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore magna aliqua. Ut enim ad minim lorem ipsum veniam'|t }}</p>
      </div>

      <div class="box-search pt-4">

        <div class="row g-3 justify-content-between">

          <div class="col-auto">
            <div class="row g-3 justify-content-between">

              <div class="col-auto">
                <div class="filter">
                  <a href="/" class="all">{{ 'All'|t }}</a>
                  <a href="?category=Technology" class="technology">{{ 'Technology'|t }}</a>
                  <a href="?category=Business" class="business">{{ 'Business'|t }}</a>
                  <a href="?category=Lifestyle" class="lifestyle">{{ 'Lifestyle'|t }}</a>
                  <a href="?category=Features" class="features">{{ 'Features'|t }}</a>
                </div>
              </div>
              <div class="col-auto d-none d-md-block">
                <form method="GET" action="/search">
                  <div class="search">
                    <img alt="" width="20px" src="/{{ directory }}/image/icons/search-blue.svg"/>
                    <input name="keyword" placeholder="Search"/>
                  </div>
                </form>
              </div>
            </div>

          </div>

          <div class="col-auto d-none d-md-block">
            {{ page.socials }}
          </div>

        </div>


      </div>

      <div class="main-content py-5">

        {{ page.home_content }}

      </div>

    </div>

  </div>

  <div class="latest pb-5">

    <div class="see-latest pt-4 pb-2 mb-3 mb-md-5">
      <div class="container">
        <h2 class="text-center m-0">{{ 'See the latest on our social media'|t }}</h2>
      </div>
    </div>

    <div class="container">

      <div class="row g-5">

        <div class="col-md-7">
          <h3 class="title text-decoration-underline d-none d-md-block">{{ 'Latest posts'|t }}</h3>

          <div class="box-content">
            <img alt="" class="card-img-top" src="/themes/digital/image/bloger.jpg">
          </div>

        </div>

        <div class="col-md-5">
          <h3 class="title text-decoration-underline d-none d-md-block">{{ 'Latest tweets'|t }}</h3>

          <div class="box-content">
            <img alt="" class="card-img-top" src="/themes/digital/image/bloger.jpg">
          </div>

        </div>

      </div>

    </div>

  </div>


</main>

{% include '@components/_footer.twig' %}
